nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    height: 6rem;
    padding-right: 5%;
    padding-left: 5%;
    z-index: 1;
}

.logo {
    color: var(--light-blue-color);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.cat {
    display: flex;
    justify-content: space-between;
    padding-top:1rem;
}
.cat a {
    text-decoration: none;
    color: var(--blue-color);
    padding: 0 1rem;
    padding-top:1rem;
    font-size:1.25rem;
}

.cat a:hover {
    color: var(--pure-white-color);
}

.theme-button {
    color: var(--pure-white-color);
    padding-left: 4rem;
  
}

nav .fa {
    display: none;
}

nav p {
    display: none;
}


@media(max-width: 1000px) {
    .nav-items a {
        display: block;
        color: #000;
        font-size: 1rem;
    }
    .cat {
        position: absolute;
        background: var(--light-blue-color);
        height: 200vh;
        width: 60%;
        padding-right: 10%;
        top: 0;
        right: -60%;
        text-align: left;
        z-index: 2;
        transition: 0.6s;
    }
    nav .fa {
        display: block;
        color: var(--blue-color);
        cursor: pointer;
        font-size: 1.5rem;
        padding: 15px;
    }
    .cat ul {
        padding-top: 35%;
        padding-left:0;
        padding-right:0;
    }
    .theme-button {
        padding: 0;
        padding-top:8%;
    }
    
}