.btn {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    transition: 1s;
}

.btn:hover {
    color: #000;
    transition: 1s;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--kau-color);
    transform: translateY(100%);
    transition: 0.5s;
    z-index: -1;
}

.btn:hover::after {
    transform: translateY(0%);
}
