.citynotfound h1{
  font-size: 4rem;
  padding-left: 32rem;
  padding-top: 8rem;
}

.citynotfound p{
    font-size: 1.5rem;
    padding-left: 31rem;
    padding-top: 1rem;
    padding-bottom: 15rem;
  }




  /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.city-input{
  padding-top: 6rem;
  padding-left: 10rem;
}

.input-field{
  position: relative;
}
.input-field input{
   width: 350px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid var(--foreground-color);
  background: transparent;
  color: var(--foreground-color);
  outline: none;
}
.input-field label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--foreground-color);
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus{
  border: 2px solid var(--glow);
}
input:focus ~ label,
input:valid ~ label{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: var(--background-color);
}
  



.weather_cards {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5rem;
  padding-left: 12%;
  padding-right: 12%;
  color: #000;
}

.temp1 {
  border-radius: 30px;
  width: 35%;
  height: 80%;
  background: var(--glow-blue);
  box-sizing: content-box;
}

.temp {
  border-radius: 30px;
  width: 17%;
  height: 80%;
  background: var(--glow-blue);
  box-sizing: content-box;
}

.temp1 p {
  padding-left:10%;
  padding-top:10%;
}

.temp1 h2 {
  padding-left:18%;
  padding-top:10%;
}

.temp p {
  padding-left:18%;
  padding-top:20%;
}

.temp h2 {
  padding-left:18%;
  padding-top:20%;
}



