nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    height: 6rem;
    padding-right: 5%;
    padding-left: 5%;
    z-index: 1;
}

.logo {
    color: var(--light-blue-color);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: var(--blue-color);
    padding: 0 1.5rem;
}

nav a:hover {
    color: var(--pure-white-color);
}

.theme-button {
    color: var(--pure-white-color);
}
